* {
  color:white;
}
p {
  font-size: medium;
}
body {
  background-color: blanchedalmond;
}

.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
  grid-gap: 2vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 232px;
  height: auto;
  background-color: black;
  border-radius: 55px;
  padding: 0 10px;
}



.card img {
  width: 100%;
}

.card img:hover{
  -webkit-box-shadow:
  0 0 20px rgba(255,255,255,.6),
  inset 0 0 20px rgba(255,255,255,1);
-moz-box-shadow:
  0 0 20px rgba(255,255,255,.6),
  inset 0 0 20px rgba(255,255,255,1);
box-shadow:
  0 0 20px rgba(255,255,255,.6),
  inset 0 0 20px rgba(255,255,255,1);
-webkit-border-radius: 60em;
-moz-border-radius: 60em;
border-radius: 60em;


}